.chat-input-panel {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    border-top: solid 1px var(--primary);

    .chat-input {
        width: 100%;
        font-family: var(--font-nunito);
        resize: none;
        margin: 0;
        border: none;
        background: none;
        color: var(--primary);


        &:focus {
            outline: none;
        }
    }
}
