.chat-input-panel {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    line-height: 21px;

    position: relative;

    &::before {
        content: '────────────────────────────────────────────────────────────';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 60ch;
    }

    &.bottom {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 60ch;
    }

    .prompt {
        display: inline-block;
        height: 21px;
    }

    .chat-input {
        font-family: var(--font-nunito);
        margin: 0;
        padding: 0;
        border: none;
        background: none;
        color: var(--primary);
        overflow: auto;
        resize: none;
        width: 100%;
        line-height: 21px;

        &:focus {
            outline: none;
        }
    }
}
