:root {
    --font-nunito: 'Nunito Variable', sans-serif;
    --border-radius: 24px;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #f8f8ff;
        --container-color: white;
        --button-background: #f4f6fe;
        --color: #221d29;
        --color-medium: #5f6b7a;
        --primary: #3f6def;
        --primary-border: #87a4f5;
        --primary-light: #ecefff;
        --primary-medium: #ecefff;
        --border-color: #d1d5db;
        --primary-dark: #40509f;
        --accent: #ff4554;
        --secondary: #23d5ab;
        --secondary-medium: #16856b;
        --accent-light: #ffe8ea;
        --accent-button-background: #fff3f4;
        --success-light: #e9faf2;
        --success: #1baa64;
        --muted: #999999;
        --muted-dark: #757575;
        --muted-light: #d0d0d0;
        --chat-color: white;
    }

    html {
        color-scheme: light;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #181818;
        --container-color: #1f1f1f;
        --color: #f5f5f5;
        --primary: #6680ff;
        --primary-light: #303030;
        --primary-medium: #3e3944;
        --primary-dark: #8393e9;
        --accent: #ff4554;
        --muted: #d4d4d4;
        --chat-color: white;
        --button-background: #303030;
    }

    html {
        color-scheme: dark;
    }
}

* {
    box-sizing: border-box;
    font-family: var(--font-nunito) !important;

    & {
        --scrollbar-color-track: transparent;
        --scrollbar-color-thumb: var(--primary);

        scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
    }

    &::selection {
        color: var(--primary);
        background-color: var(--primary-medium);
    }
}

html,
body {
    font-family: var(--font-nunito);
    background-color: var(--background-color);
    color: var(--color);
}

body {
    margin: 0;
    padding: 0;

    &.open {
        overflow: hidden;
    }
}

a,
button {
    -webkit-tap-highlight-color: transparent;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    font-family: var(--font-nunito);
    cursor: pointer;
    padding: 0;
    border: none;
    background-color: inherit;

    &.btn {
        padding: 8px 24px;
        font-weight: 700;
        font-size: 1em;
        border-radius: 1rem;
        background-color: var(--primary);
        color: var(--container-color);
    }
}

// Global
.full-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100dvh;
    margin: 0 auto;
    overflow: hidden;
}

// Auth
.auth-panel {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    height: 100dvh;

    [data-amplify-router] {
        background-color: transparent !important;
        box-shadow: none !important;
        border-color: none !important;
        border-width: none !important;
        border-style: none !important;
    }

    [data-amplify-container] {
        min-width: fit-content;
        border-radius: 1rem;
        background-color: var(--container-color);
        padding: 2rem;
        box-shadow: 0px 0.5px 2px 1px rgba(0, 0, 0, 0.09);

        .amplify-heading {
            font-size: 2rem;
            color: var(--primary);
            font-weight: 900;
            margin-top: 0;
            margin-bottom: 2rem;
        }

        form {
            margin-bottom: 1em;
            width: 40ch;
            padding: 0;

            fieldset {
                border: none;
                gap: 1;
                padding: 0;
                margin: 0;
            }
        }

        [data-amplify-footer] {
            padding: 0;

            button {
                width: 100%;
            }
        }

        // From AWS
        .amplify-button {
            align-items: center;
            justify-content: center;
            background-color: var(--container-color);
            border: none;
            color: var(--primary);
            cursor: pointer;
            display: inline-flex;
            user-select: none;
            padding: 1em;
            border-radius: 1rem;

            &.amplify-button--link {
                color: var(--accent);
                font-weight: 600 !important;
                background-color: transparent;
                padding: 0;
            }

            &[type='submit'] {
                justify-content: center;
                font-weight: 700;
            }

            &[aria-label='Show password'] {
                height: 32px;
                width: 32px;
                padding: 0;
            }

            &.amplify-button--primary {
                font-size: 14px;
            }

            &.oidc-sign-in-button {
                width: 100%;
                margin: 2rem 0;
                background-color: var(--primary);
                color: var(--container-color);
            }

            .amplify-icon {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                fill: currentColor;
                height: 22px !important;
                width: 22px !important;
                height: 1em;
                line-height: 1;

                svg {
                    height: 100%;
                    width: 100%;
                }
            }
        }

        .amplify-field-group__outer-end {
            button {
                border-radius: 1rem;
            }
        }

        .amplify-visually-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            fill: transparent;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            white-space: nowrap;
            border-width: 0;
        }

        .amplify-flex {
            display: flex;
        }

        .amplify-field {
            flex-direction: column;

            .amplify-label {
                margin-bottom: 0.5em;
                font-weight: 700;
            }

            .amplify-field-group--horizontal {
                flex-direction: row;
            }

            .amplify-field-group {
                gap: 0.5em;
                height: 50px;

                .amplify-field-group__field-wrapper {
                    position: relative;
                    width: 100%;

                    input {
                        outline: none !important;
                        border: none !important;
                        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09) !important;
                        width: 100%;
                        padding: 0.5em 1em;
                        font-size: 1em;
                        font-family: var(--font-nunito);
                        background-color: var(--background-color);
                        border-radius: 1rem;
                        height: 100%;

                        &::placeholder {
                            color: transparent;
                        }

                        &:focus {
                            background-color: var(--primary-light);
                            outline: none;
                            border: none;
                            box-shadow: none;
                        }

                        &[name='username'] {
                            text-transform: lowercase;
                        }
                    }
                }
            }
        }

        .amplify-alert--error {
            color: #660000;
            background-color: #fce9e9;

            &.amplify-alert {
                align-items: center;
                justify-content: space-between;
                padding: 0.5em;
            }
        }
    }
}

.sign-up-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

// Avatar
.avatar {
    --radius: 50%;
    --size: 20px;

    height: var(--size);
    width: var(--size);
    border-radius: var(--radius);
    background-color: var(--primary-medium);
    color: var(--primary);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--container-color);
        font-weight: 900;
        font-size: 12px;
        width: var(--size);
        height: var(--size);
        border-radius: var(--radius);
        background: #a4a4a4;
    }
}

// Popover
.menu {
    padding: 0.5rem 0;

    &.wide {
        min-width: 280px;
    }

    .divider {
        margin-bottom: 0.25rem;
        margin-top: 0.25rem;
        margin-left: 1.25rem;
        margin-right: 1.25rem;
        background-color: rgba(0, 0, 0, 0.1);
        height: 1px;
    }

    .item {
        cursor: pointer;
        user-select: none;
        padding: 0.75rem;
        margin: 0 0.5rem;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        gap: 0.75rem;
        font-size: 14px;

        &.red {
            color: #f93a37;

            svg {
                fill: #f93a37;
            }
        }

        svg {
            width: 18px;
            height: 18px;
            fill: #7d7d7d;
        }

        &:hover {
            background-color: var(--button-background);
        }
    }
}
