.chatMessage {
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    width: 100%;

    .messageBubble {
        gap: 1rem;
        padding: 0.5em;
        max-width: 70%;
        white-space: pre-wrap;
        font-size: 0.875rem;
        border: solid 1px var(--primary);
    }

    &.human {
        .messageBubble {
            align-self: flex-end;
        }
    }

    &.ai {
        .messageBubble {
            align-self: flex-start;
        }
    }
}
