.chat {
    max-width: 48rem;
    width: 100%;
}

.chat-app {
    min-height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.greeting {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: 3rem;

    .dark {
        color: var(--primary);
    }

    .light {
        color: var(--muted);
    }
}

.chat-prompt-container {
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    background-color: white;
    box-shadow: 0px 0.5px 2px 1px rgba(0, 0, 0, 0.09);
    margin-bottom: 1rem;

    .chat-prompt-field {
        display: flex;
        align-items: center;

        textarea {
            width: 100%;
            font-family: var(--font-nunito);
            resize: none;
            padding: 1.5rem;
            margin: 0;
            border: none;
            background: none;

            &:focus {
                outline: none;
            }
        }
    }

    .chat-prompt-actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;

        .box {
            display: flex;
            align-items: center;
            gap: 0.25rem;

            .action-button {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                background: none;
                border: none;
                padding: 0;
                border-radius: 50%;
                transition: background-color 150ms ease-in-out;
                padding: 0px;
                min-height: 44px;
                min-width: 44px;

                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-height: 36px;
                    min-width: 36px;
                    border-radius: 50%;
                    border: solid 0.5px rgba(0, 0, 0, 0.3);

                    svg {
                        fill: var(--color);
                        min-height: 18px;
                        min-width: 18px;
                    }
                }
            }

            .input {
                display: none;
            }
        }

        .answer-button {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background: none;
            border: none;
            padding: 0;
            border-radius: 50%;
            transition: background-color 150ms ease-in-out;
            padding: 0px;
            min-height: 44px;
            min-width: 44px;

            &.ready {
                span {
                    background-color: var(--primary);

                    svg {
                        fill: white;
                    }
                }
            }

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 36px;
                min-width: 36px;
                border-radius: 50%;
                background-color: #eeeeee;

                svg {
                    fill: var(--muted);
                    min-height: 30px;
                    min-width: 30px;
                }
            }
        }
    }
}

.examples {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;

    .example {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        font-size: 14px;
        height: 40px;
        padding-inline: 0.75rem;
        border-radius: 22px;
        border: solid 0.5px rgba(0, 0, 0, 0.3);
    }
}

// Radix Select styles

.Trigger {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 18px;
    padding-inline: 1rem;
    font-size: 14px;
    height: 36px;
    background-color: white;
    color: var(--color);

    &:hover {
        &[data-placeholder] {
            color: var(--accent);
        }
    }

    &:focus {
        box-shadow: none;
    }

    &[data-placeholder] {
        color: var(--muted);
    }

    span {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Icon {
        color: var(--muted);

        svg {
            min-width: 16px;
            min-height: 16px;
        }
    }
}

.Content {
    overflow: hidden;
    background-color: var(--container-color);
    border-radius: 1rem;
    border: solid 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);

    .ScrollButton {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        background-color: white;
        color: var(--violet-11);
        cursor: default;
    }

    .Viewport {
        padding: 0.5rem 0;

        .Separator {
            height: 1px;
            margin-bottom: 0.5rem;
            margin-top: 0.5rem;
            margin-left: 1.25rem;
            margin-right: 1.25rem;
            background-color: rgba(0, 0, 0, 0.1);
        }

        .Item {
            user-select: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 0.5rem 2rem;
            margin: 0 0.5rem;
            border-radius: 10px;
            font-size: 14px;

            &:hover {
                background-color: var(--button-background);
                box-shadow: none;
                outline: none;
            }

            &.red {
                color: #f93a37;

                svg {
                    fill: #f93a37;
                }
            }

            &.New {
                font-weight: 600;
            }

            svg {
                width: 18px;
                height: 18px;
                fill: #7d7d7d;
            }

            .ItemIndicator {
                position: absolute;
                left: 0.75rem;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 1.5rem;
            }
        }
    }
}
