.header {
    --size: 40px;

    position: absolute;
    top: 0;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--header-height);
    padding: 1rem;
    background-color: var(--background-color);
    z-index: 1000;

    .title {
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-weight: 900;
        color: var(--primary);
        gap: 0.5rem;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        @media screen and (max-width: 500px) {
            flex-wrap: wrap;
            justify-content: flex-end;
        }

        .links {
            display: flex;
            gap: 1rem;
            margin-right: 1rem;

            a {
                font-weight: 700;
            }
        }

        a {
            color: var(--muted);
            font-weight: 600;

            &:hover {
                color: var(--accent);
            }
        }

        button {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            background: none;
            border: none;
            width: 44px;
            height: 44px;
            padding: 0px;

            .circle {
                height: var(--size);
                width: var(--size);
                background-color: white;
                border-radius: 50%;
                border: solid 1px rgba(0, 0, 0, 0.1);
                color: var(--primary);
                font-size: 14px;
                font-weight: 700;
                display: flex;
                align-items: center;
                justify-content: center;

                &.step {
                    cursor: pointer;
                }

                svg {
                    fill: var(--container-color);
                }

                img {
                    height: var(--size);
                    width: var(--size);
                    border-radius: 50%;
                }
            }
        }
    }
}
